<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etu.cameralibrary" >

    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name=".view.CameraActivity" />
        <activity android:name=".view.Camera2Activity" />
    </application>
</manifest>
